nav {
    text-align: center;

    h1 {
        font-size: 2em; 
    }
    
    ul {
        margin: 0 2%;
        font-size: 0.8em;
        list-style: none;
        padding-left: 0px;
        background-color: rgb(109, 161, 201);
        box-shadow: 0 0 25px rgb(104, 104, 104);
            
        li {
                padding: 2%;
                color:  $white-text;
                font-family: $font;
           
                li:hover {
                    background-color: lightskyblue;
                    cursor: pointer;
                }
           
            }
 
        }
}

@media (min-width: 768px) {
    nav {

        ul {
        margin: 0px;
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        top: 40px;
        right: 0px;

            li {
                font-size: 2em;
            }
        }

        h1 {
            font-family: sans-serif;
            color: $logo-color;

            span {
                color: orange;
                border-left: solid 2.5px $logo-color;
                border-top: solid 2.5px $logo-color;
                border-bottom: solid 2.5px $logo-color;
                padding-left: 1%;
            }
        }
    }
}