body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
}

header img {
    width: 100%;
}

#naslov {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#divone {
    display: table;
    width: 100%;
    height: 100%;
}
#divtwo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#naslov p {
    font-size: 1.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width:768px) {

    #naslov p {
        font-size: 2.5em;
        box-sizing: border-box;
        padding: 0 2%;
    }
}

@media (min-width:992px) {
    #naslov p {
        font-size: 3em;
    }
}

button {
    background-color: rgb(6, 6, 170);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 1.5%;
    width: 20%;
}

button:hover {
    cursor: pointer;
    background-color: blue
}

@media (min-width:768px) {
    button {
        padding: 1%;
        width: 15%;
        font-size: 1em;
    }
}

@media (min-width:992px) {
    #naslov p {
        font-size: 3em;
    }

    button {
        width: 10%;
    }
}

nav {
    text-align: center;
}

nav h1 {
    font-size: 2em; 
}

nav ul {
    margin: 0 2%;
    font-size: 0.8em;
    list-style: none;
    padding-left: 0px;
    background-color: rgb(109, 161, 201);
    box-shadow: 0 0 25px rgb(104, 104, 104);
}

@media (min-width: 768px) {
    nav ul {
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        top: 40px;
        right: 0px;
    }
}

h1 {
    font-family: sans-serif;
    color: rgb(90, 90, 90);
}

span {
    color: orange;
    border-left: solid 2.5px rgb(90, 90, 90);
    border-top: solid 2.5px rgb(90, 90, 90);
    border-bottom: solid 2.5px rgb(90, 90, 90);
    padding-left: 1%;
}

@media (min-width: 768px) {
    h1 {
        color: white;
        position: absolute;
        top: 20px;
        left: 20px;
        }
    
    h1 span {
        padding-left: 10px;
        border-left: solid 2.5px white;
        border-top: solid 2.5px white;
        border-bottom: solid 2.5px white;
    }

}

nav ul li {
    padding: 2%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
    nav ul li {
        display: inline-block;
        margin-right: 10px;
        font-size: 15px;
        
    }
}



nav ul li:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

@media (min-width: 768px) {
    nav ul li:hover {
        background-color: transparent;
        color: orange;
    }
}

@media (min-width:992px) {
    nav ul li:hover {
        background-color: transparent;
        color: orange;
    }
}

section {
    margin: 20% 7% 10% 7%;
}

@media (min-width: 768px) {
    section {
        margin-top: 50px; 
    }
}


section h2 {
    margin-bottom: 0px;
    font-size: 1.7em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divider {
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
    width: 300px;
}

@media (min-width: 768px) {
    section h2 {
        font-size: 2.2em;
    }

    .divider {
        width: 500px;
    }
}

section h3 {
    color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 20px;
}

@media (min-width: 768px) {
    section h3 {
        font-size: 1.5em;
        margin-top: 0px;
    }
}

section p {
    font-size: 0.8em;
    font-kerning: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 160%;
}

@media (min-width: 768px) {
    section p {
        font-size: 1em;
    }
}

section ul{
    list-style: none;
    padding: 0; 
}


section ul li {
    padding: 20px;
    padding-left: 25px;
    font-size: 0.8em;
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 17px;
}

@media (min-width: 768px) {
    section ul li {
        font-size: 1.1em;
    }
}

section img {
    width: 100%;
    margin-top: 5%;
}

@media (min-width: 768px) {
    section img {
        width: 50%;
        margin-top: 0px;
    }

     .whoweare::after {
        clear: both;
        content: "";
        display: block;
        width: 100%;
    }

    .welcome {
        float: left;
        width: 50%;
        box-sizing: border-box;

    }

    .whoweare article:last-child {
        clear: both;
        width: 100%;
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    .whoweare div {
        margin: 0px auto;
    }

    .whoweare .welcome {
        float: left;
        width: 30%;
        box-sizing: border-box;
        font-size: 0.9em;
        margin-right: 5%;
    }

    .whoweare .welcome ul li {
        font-size: 0.9em;
        padding-right: 0px;
    }

    .whoweare .welcome:last-child {
        clear: none;
        float: left;
        width: 30%;
        margin-top: 0px;
        margin-right: 0px;
    }

    section .image {
        width: 30%;
        float: left;
        margin-right: 5%;
    }
}

.box {
    background-color: rgb(81, 162, 228);
    box-sizing: border-box;
    padding: 3% 3%;
    margin-bottom: 5%; 
    box-shadow: 0 0 25px rgb(105, 105, 105);
    color: white;
}

.box img {
    float: left;
    height: 80px;
    width: auto;
    border-radius: 50%;
    border: 3px solid white;
    padding: 5px;
}

.box div {
    float: left;
    margin-top: 44px;
    margin-left: 20px;
}

.box p {
    clear: left;
    line-height: 200%;
    font-family: Arial, Helvetica, sans-serif;
}

.box h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:  1.1em;
    color: black;
   
}

@media (min-width:768px) {
    
    .box {
        float: left;
        width: 48%;
    }

    .whatpeoplesay div:last-child {
        clear: both;
    }

    .whatpeoplesay .box:nth-child(3) {
        float: right;
        margin-left: 2%;
    }

    .whatpeoplesay::after {
        clear: both;
        content: "";
        display: block;
    }
}

@media (min-width: 992px) {
   .whatpeoplesay .box {
       float: left;
       width: 30%;
       margin-left: 0px;
       font-size: 13px;
       padding: 2% 2%;
       margin-right: 2.5%;
       color: white;
   }

   .whatpeoplesay .box h4 {
       color: black;
   }

    .whatpeoplesay .box:first-child {
        margin-left: 0px;
    }

   .whatpeoplesay .box:nth-child(3) {
    float: left;
    }

    .whatpeoplesay .box:last-child {
        clear: none;
        float: left;
    }

}

#contactUs {
    margin: 20% 0;
    text-align: center;
}

@media (min-width:768px) {
    #contactUs {
        margin: 0;
    }

}


.contact p {
    margin: 0;
    padding: 3%;
    color: white;
    font-size: 0.9em;
}

.contact.green {
    background-color: rgb(145, 201, 57);
}

.contact.green img {
    width: 4%;
    vertical-align: middle;
}

.contact.pink {
    background-color: rgb(238, 59, 74);
}

.contact.pink img {
    width: 4%;
    margin: 20px 10px 50px;
}

.contact.blue {
    background-color: rgb(18, 96, 212);
}

.contact.blue p:last-child {
    padding-bottom: 50px;
}

.contact.blue img {
    width: 4%;
}

.contact img {
    width: 40%;
    margin: 0;
}
.contact.lightblue {
    background-color: rgb(118, 216, 247);
}
@media (min-width: 768px) {
    .contact.lightblue {
        padding: 12.5px 0;
    }
    section .contact.lightblue img {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        width: auto;
    }
}

.contact.lightblue img {
    margin: 5% 0;
}


iframe {
    width: 100%;
    height: 600px;
}

@media (min-width:768px) {
    .contact {
        float: left;
        width: 50%;
        height: 175px;
        padding: 0;
        padding-top: 25px;
    }

    .contact iframe {
        clear: left;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .contact {
        float: left;
        width: 25%;
        height: 175px;
        padding: 0;
        padding-top: 25px;
    }

    .contact iframe {
        clear: left;
        width: 100%;
    }

    .contact p{
        font-size: 18px;
    }
}


form {
    width: 100%;
}


form input, form textarea {
   display: block;
   margin: 0 auto 20px auto;
   padding: 10px;
   width: 100%;
   box-sizing: border-box;
}

#submit {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    width: 100px;
    margin: 0;
}

@media (min-width:768px) {
    section form input {
        width: 32%;
        margin-right: 2%;
        float: left;
        box-sizing: border-box;
    }
    form input:nth-child(3) {
        margin-right: 0;
    }

    #submit {
        font-size: 20px;
        padding: 10px;
        width: 120px;
    }
}

footer {
    background-color: rgb(19, 18, 18);
    width: 100%;
    height: 250px;
}


footer p {
    color: white;
    text-align: center;
    clear: left;
    margin-top: 50px;
}

footer ul {
    list-style: none;
    text-align: center;
    padding: : 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

footer ul li {
    margin-top: 80px;
    display: inline-block;
    margin-right: 20px;
    
}
